@import "style/base.scss";
.suggest-container {
  width: 100vw;
  padding: 3rem 0 0;
  @include responsive($laptop) {
    padding: 0;
  }
  @include responsive($phablet) {
    padding: 3rem 0 0;
  }
  .slick-arrow {
    z-index: 2;
  }
  .slick-arrow.slick-prev {
    left: -2px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid transparent;
    @include responsive($laptop) {
      left: 0px;
    }
    &::before {
      content: "❮";
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-100%, -56%);
      font-size: 2.5rem;
      text-align: center;
    }
  }
  .slick-arrow.slick-next {
    right: 2px;
    width: 33px;
    height: 33px;
    border-radius: 100%;
    border: 2px solid transparent;
    @include responsive($laptop) {
      right: 4px;
    }
    &::before {
      content: "❯";
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(50%, -56%);
      font-size: 2.5rem;
      text-align: center;
    }
  }
  .suggest__header {
    @include flexBox(center, space-between);
    margin-bottom: 2rem;
    @include responsive($laptop) {
      margin-bottom: 2.5rem;
    }
    @include responsive($tablet) {
      margin: 2rem 0 0;
    }
    @include responsive($phablet) {
      margin: 0rem;
    }
    .suggest__title {
      @include textStyle("Poppins", 2.3rem, $primary, 500);
      text-transform: capitalize;
      padding-left: 1rem;
      @include responsive($laptop) {
        margin-bottom: 1.8rem;
      }
      @include responsive($tablet) {
        font-size: 1.8rem;
      }
    }
    p {
      @include textStyle("Poppins", 1.8rem $primary);
      text-transform: capitalize;
      padding-right: 1rem;
      @include responsive($laptop) {
        margin-bottom: 1.2rem;
      }
      @include responsive($tablet) {
        font-size: 1.2rem;
      }
    }
  }
}
