@import "../../../asset/style//base.scss";
.term {
  width: 100%;
  height: 100%;
  min-height: 100vh;

  .term__title {
    background-image: url("../../../asset/image/bgr.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @include flexBox(center, center);
    width: 100%;
    max-height: 42rem;
    height: 420px;

    position: relative;
    z-index: 1;
    &:before {
      content: "";
      @include position(absolute);

      background-color: rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100%;
      z-index: 3;
    }

    h2 {
      @include textStyle("Poppins", 5rem, $color-text);
      text-transform: capitalize;
      z-index: 20;
      @include responsive($small_tablet) {
        font-size: 4.5rem;
      }
    }
  }
}
.term__content {
  padding: 10rem 0;
  @include responsive($small_tablet) {
    padding: 4rem 0;
  }
  h2 {
    text-transform: capitalize;
    margin-bottom: 3rem;

    @include textStyle("Poppins", 2.8rem, $color-text);
    @include responsive($small_tablet) {
      font-size: 2.2rem;
      margin-bottom: 2rem;
    }
  }
  p {
    @include textStyle("Poppins", 1.4rem, $color-text);

    line-height: 2.1rem;
    letter-spacing: 0.8px;
    margin-bottom: 2rem;
  }
  ul {
    li {
      @include textStyle("Poppins", 1.4rem, whitesmoke);
      line-height: 2.1rem;
      letter-spacing: 0.8px;
    }
    margin-bottom: 2rem;
  }
}
