@import "../../style/base.scss";
input {
  border-color: none;
}
.navBar__container {
  @include position(fixed);
  width: 100%;
  background: transparent;
  z-index: 999;
  &.active {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
  }
}

.navBar {
  @include flexBox(flex-start, space-between);
  @include css3-compatible(transition, all 0.3s ease-out);
  padding: 2.5rem 0;
  &.active {
    padding: 1.5rem 0;
  }

  &__logo {
    display: flex;
    text-decoration: none;
    @include textStyle("Lobster", 3.4rem, rgba(157, 255, 0, 0.603), 500);
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    .navBar__logo-icon {
      display: block;
      margin-left: 1rem;
    }
  }

  .navBar__menu {
    @include flexBox(center, space-around);
    .navBar__list {
      list-style: none;
      display: flex;

      .navBar__item {
        font-family: "Poppins", sans-serif;
        margin-right: 3rem;
        a {
          display: inline-block;
          text-decoration: none;
          position: relative;
          @include textStyle("Poppins", 2.2rem, $color-text);
          &::before {
            content: "";
            @include position(absolute, 100%, 0);
            background-color: #d0a748;

            width: 0;
            height: 2px;
            border-radius: 2px;
          }
          &:hover::before {
            width: 100%;
            @include css3-compatible(transition, width 0.4s ease-in-out);
          }
        }
        .nav-links-mobile {
          display: none;
        }
      }
    }
  }
}
.button-link {
  text-decoration: none;
}
.mobie-navBar__search-input {
  display: none;
}
.menu-icon {
  display: none;
}
.fa-bars {
  color: $color-text;
}

.navBar__search-input {
  color: $color-text;
  padding: 5px 10px;
  border-radius: 40px;
  font-size: 1.8rem;
  outline: none;
  border: 1px solid #ccc;
  margin-right: 3rem;

  background-color: #4d4c4e73;
  outline: none;
  border: 1px solid #4d4c4e83;
  outline: $primary;

  &::placeholder {
    font-size: 1.4rem;
    font-style: italic;
    color: #ccc;
  }
}
.search-box {
  display: none;
}

// responsive
@media screen and (max-width: 960px) {
  .navBar {
    @include flexBox(center, space-between);
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 50px;
    @include css3-compatible(transform, translate(-100%, 135%));
    font-size: 1.8rem;
    cursor: pointer;
    &.active {
      position: absolute;
      top: 10px;
      right: 50px;
    }
  }
  .navBar__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 97vh;
    opacity: 1;
    @include position(absolute, 69px, -100%);
    @include css3-compatible(transition, all 0.5s ease);
    &.active {
      background: #242222;
      left: 0;
      opacity: 1;
      @include css3-compatible(transition, all 0.5s ease);
      z-index: 9999;
    }
    .navBar__item {
      width: 100%;
      a {
        display: inline-block;
        text-align: center;
        padding: 2rem;
        width: 100%;

        &:before {
          display: none;
        }
        &:hover {
          background-color: $color-text;
          color: #242424 !important;
          border-radius: 0;
        }
      }
    }
  }
  .navBar .navBar__menu .navBar__list .navBar__item .nav-links-mobile {
    display: block;
  }
  .navBar__search-input {
    display: block;
    margin-right: 50px;
    background: #4d4c4e73
      url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
      90% center;
  }
  .fa-times {
    color: $color-text;
    font-size: 2rem;
  }
  .navBar__search-icon {
    display: block;
    color: $color-text;
    font-size: 1.4rem;
    text-decoration: none;

    position: relative;
    right: 80px;
  }
}
@media screen and (max-width: 739px) {
  .navBar .navBar__logo {
    font-size: 2.8rem;
  }
  .menu-icon {
    position: absolute;
    top: 0;
    right: 0px;
    @include css3-compatible(transition, all 0.3s ease-out);
    &.active {
      position: absolute;
      top: 9px;
      right: 0px;
    }
  }
  .navBar__search-input {
    display: none;
  }
  .search-box {
    display: block;
    margin-right: 40px;
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
  }

  .search-box:hover > .search-txt {
    width: 10rem;
    padding: 0px 5px;
  }

  .search-box:hover > .search-btn {
    color: $color-text;
  }

  .search-btn {
    $lenght: 2rem;
    color: #e84118;
    float: right;
    width: $lenght;
    height: $lenght;
    border-radius: 50%;
    background: #2f3640;
    color: $color-text;
    cursor: pointer;
    @include flexBox(center, center);
    @include css3-compatible(transition, 0.4s);
  }

  .search-btn > i {
    font-size: 1.6rem;
  }

  .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    line-height: 1.6rem;
    width: 0px;
    @include css3-compatible(transition, 0.4s);
    @include textStyle("Poppins", 1.6rem, $color-text, bold);
  }
}
@media (hover: hover) {
  .navBar {
    .navBar__menu {
      .navBar__list {
        .navBar__item {
          a {
            &:hover::before {
              width: 100%;
              @include css3-compatible(transition, width 0.4s ease-in-out);
            }
          }
        }
      }
    }
  }
  .search-box:hover > .search-txt {
    width: 10rem;
    padding: 0px 5px;
  }

  .search-box:hover > .search-btn {
    color: $color-text;
  }
}
