$growth-from: 0.3;
$growth-to: 1;

@keyframes growth {
  from {
    transform: scale($growth-from);
  }
  to {
    transform: scale($growth-to);
  }
}
@keyframes loading2 {
  50% {
    transform: rotate(200deg);
  }
  75% {
    transform: rotate(160deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes jumping {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(5px);
  }
}
