@import "style/base.scss";
.list__container {
  padding-top: 8rem;
  background-color: #141414;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  .List__container-row {
    padding: 3rem 0 0 0px;
    // @include responsive($small_moblie) {
    //   padding: 2rem 0 0 1px;
    // }
  }
  .list__tittle-wrapper {
    position: relative;
  }
  .list__tittle {
    position: relative;
    margin: 3rem 0;
    text-align: center;
    z-index: 3;
    @include textStyle("Poppins", 2rem, $color-text);
    &::after {
      content: "";
      width: 200px;
      height: 100%;
      background-color: transparent;
      @include position(absolute, 50%, 50%);
      z-index: 3;
      @include css3-compatible(transform, translate(-50%, -50%));
    }
    &::before {
      content: "";
      @include position(absolute, 50%, 0);
      @include css3-compatible(transform, translateY(-50%));

      height: 1px;
      width: 100%;
      border-radius: 2px;
      background-image: linear-gradient(
        to right,
        transparent,
        #fff,
        transparent,
        transparent,
        #fff,
        transparent
      );
      z-index: -10;
    }
  }
  .list__movie {
    margin: 0 0 36px 0;
  }

  .dashed-loading {
    position: relative;
    height: 20px;
    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      width: 25px;
      height: 25px;
    }
    &:before {
      z-index: 5;
      border: 3px dashed $primary;
      border-left: 3px solid transparent;
      border-bottom: 3px solid transparent;
      -webkit-animation: dashed 1s linear infinite;
      animation: dashed 1s linear infinite;
    }
    &:after {
      z-index: 10;
      border: 3px solid $primary;
      border-left: 3px solid transparent;
      border-bottom: 3px solid transparent;
      -webkit-animation: dashed 1s ease infinite;
      animation: dashed 1s ease infinite;
    }
  }
  @keyframes dashed {
    to {
      transform: rotate(360deg);
    }
  }
}
