@import "../../../style/base.scss";
.list__container {
  padding-top: 8rem;
  background-color: #141414;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  .list__tittle-wrapper {
    position: relative;
  }
  .list__tittle {
    position: relative;
    margin: 3rem 0;
    text-align: center;
    color: white;
    font-size: 2rem;
    z-index: 3;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200px;
      height: 100%;
      background-color: transparent;
      transform: translate(-50%, -50%);
      z-index: 3;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 1px;
      width: 100%;
      border-radius: 2px;
      background-image: linear-gradient(
        to right,
        transparent,
        #fff,
        transparent,
        transparent,
        #fff,
        transparent
      );
      z-index: -10;
    }
  }
}
.slick-slider {
  // position: relative;
  .slick-arrow.slick-next {
    position: absolute;
    right: 6px;
    display: none;
  }
  .slick-arrow.slick-prev {
    position: absolute;
    left: 10px;
    z-index: 99;
  }
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 40px;
  line-height: 1;
  color: #fff;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before {
  content: "‹";
}
[dir="rtl"] .slick-prev:before {
  content: "›";
}

[dir="rtl"] .slick-next {
  left: -5px;
  top: 70px;
  // right: auto;
}
.slick-next:before {
  content: "›";
}
[dir="rtl"] .slick-next:before {
  content: "‹";
}

@media screen and (max-width: 940px) {
}
